$primary: #8434E1;


$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.75,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

@import './scss/bootstrap.scss';
@import './custom.scss';




.fs-2 {
  font-size: 24px !important;
}

.fs-3 {
  font-size: 28px !important;
}

.fs-4 {
  font-size: 20px !important;
}


